.top {
    width: 100%;
    height: 50px;
    background-color: rgb(238, 232, 213);
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    font-family: 'Josefin Slab', serif;
    z-index: 999;
}

.topCenter {
    flex: 5;
    display: flex;
    align-items: center;

}

.topLeft,
.topRight {
    flex: 4;
    display: flex;
    align-items: center;
}

.topIcon {
    font-size: 20px;
    margin-left: 20px;
    color: #444;
    cursor: pointer;

}

.topImg {
    width: 40px;
    height: 40px;
    object-fit: over;
    border-radius: 50%;
}

.topList {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.topListItem {
    margin-left: 20px;
    font-size: 20px;
    font-weight: 300;
    cursor: pointer;
}

.topSearchIcon {
    font-size: 18px;
    color: #666;
    cursor: pointer;
    margin-right: 15px;
}

.topSearchInput {
    border: none;
    border-radius: 5px;
    background-color: rgb(221, 214, 193);
    height: 30px;
    margin-right: 40px;
    width: 200px;
}

.topSearchInput:focus {
    outline: none;
    border: 2px solid white;
}