.post {
    width: 70%;
    margin: 0px 0px 20px;
    margin-left: 250px;
    padding: 10px;
    display: flex;
    max-height: 110px;
    /* border-bottom: 1px solid wheat; */
    justify-content: space-between;
    position: relative;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}



.post:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.postImg {
    width: 170px;
    min-width: 170px;
    height: 100px;
    overflow: hidden;
    border-radius: 10px;
}

.postInfo {
    flex-direction: column;
    display: flex;
    margin-left: 20px;
    max-height: 110px;
}

.postTabs {
    font-family: 'Varela', sans-serif;
    font-size: 11px;
    color: #be9656;
    line-height: 20px;
    cursor: pointer;
}

.postTab {
    margin-right: 10px;
}

.postTitle {
    font-family: 'Josefin Slab', serif;
    font-size: 32px;
    font-weight: 700;
    padding-right: 0;
    width: -webkit-fit-content;
    position: relative;
}

.postTitle:hover {
    color: rgb(219, 181, 110);
    font-size: 34px;
}

.postTitle:after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 2px solid transparent;
    box-sizing: border-box;
    /*
      鼠标移开目的地，以下面的transition属性为准来过渡，请好好理解下面的属性!一旦弄懂了它，就会做了
    */
    transform: translate(-50%);
    transition: border-color 0s ease-out 0.4s, width 0.2s ease-out 0.2s;
}



.postTitle:hover:after {
    border-bottom-color: rgb(219, 181, 110);
    /*
      鼠标移入目的地，以下面的transition属性为准来过渡，请好好理解下面的属性!一旦弄懂了它，就会做了
    */
    left: 50%;
    width: 100%;
    transition: border-color 0s ease-out 0.4s, width 0.2s ease-out 0.4s
}

.postDate {
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 13px;
    color: #999;
    margin-right: 20px;
}

.postDesc {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/* .postDetail {
    justify-content: start
} */

.postDetaiIcon {
    margin-right: 5px;
}