.singlePost {
    flex: 9;
    margin-left: 200px;
}

.singlePostWrapper {
    padding: 20px;
    padding-right: 0;
    display: flex;
    flex-direction: column;
}

.singlePostImg {
    width: 100%;
    height: 500px;
    border-radius: 5px;
    overflow: hidden;
}

.singlePostTitle {
    text-align: center;
    margin: 10px;
    font-family: 'Lora', serif;
}

.singlePostTitleInput {
    text-align: center;
    margin: 10px;
    font-family: 'Lora', serif;
    font-size: 28px;
    border: none;
    border-bottom: 1px solid #b39656;
}

.singlePostTitleInput:focus {
    outline: none;
}

.singlePostEdit {
    float: right;
    font-size: 16px;
}

.singlePostIcon {
    margin-left: 10px;
    cursor: pointer;
}

.singlePostUserIcon {
    margin-right: 10px;
}

.singlePostInfo {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-style: 16px;
    color: #b39656;
    font-family: 'Varela', sans-serif;
}

.singlePostDesc::first-letter {
    margin-left: 20px;
}

.singlePostDescInput {
    border: none;
    height: 50vh;
}

.singlePostDescInput:focus {
    outline: none;
}

.singlePostButton {
    position: absolute;
    bottom: 80px;
    right: 500px;
    color: white;
    background-color: teal;
    padding: 5px;
    border-radius: 10px;
    margin-top: 30px;
    border: none;
    font-size: 16px;
}

.tabList {
    margin-top: 50px;
}

.tabListItem {
    display: inline-block;
    color: #fdfdfd;
    padding: 4px;
    background-color: cornflowerblue;
    cursor: pointer;
    margin: 5px 5px;
    justify-self: start;
}