.header {
    background-color: rgb(253, 246, 227);
    margin-bottom: 40px;
}

.headerTitles {
    display: flex;
    flex-direction: column;
    font-family: 'Lora', serif;
    color: #444;
}

.headerTitleSm {
    position: absolute;
    top: 18%;
    left: 10%;
    text-align: center;
    font-size: 20px;
}

.headerTitleLg {
    position: absolute;
    top: 22%;
    left: 10%;
    font-size: 50px;
}

.headerDesc {
    position: absolute;
    top: 33%;
    left: 10%;
    width: 25%;
}

.headerDesc::first-letter {
    margin-left: 20px;
}


.headerImg {
    /* position: absolute;
    left: 860px;
    top: 450px; */
    float: right;
    width: 50%;
    height: 450px;
    object-fit: cover;
}